// *****COLORS*****

$coralblue : #10C9C3;
$white : #fff;
$lightgrey : #f5f5f5;
$black : #141414;
$color: #b9c2c7;

//Preferiram da gi koristam boite kako varijabli za da ponatamu dokolku ima potreba od bilo kakva promena toa da bide so eden klik za se.


// *****FONTS*****

// MONTSERRAT font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
$Montserrat : 'Montserrat';

// WORKS SANS font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
$WorkSans : 'Work Sans';

// NUNITO SANS font
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
$NunitoSans : 'Nunito Sans';